<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clases y Id</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/claseid.css">
    
</head>
<body>
    <h2 >Voy a buscar una señal</h2>
    <h2 >Una cancion</h2>
    <h2 id="mn">quiero saber</h2>

    <p class="p1 ">
        (S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal es la fábula, 
        un tipo de relato breve protagonizado por animales personificados cuya finalidad didáctica se explicita 
        en una moraleja final. La Grecia clásica atribuyó a Esopo la invención de este género, igual que asignó 
        a Homero la paternidad de la épica.
    </p>
    <br>
    <p class="p2 ">
        Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis 
        entre las dos figuras: <span class="homero"> <a href="https://www.youtube.com/watch?v=Yo7AHkb03zA">Homero como cantor de las gestas de los héroes</a></span>, 
        Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas 
        ciudades se disputaron el honor de ser su cuna.
    </p>
    <p class="p3 ">
        Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis 
        entre las dos figuras: <span> Homero como cantor de las gestas de los héroes</span>, 
        Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas 
        ciudades se disputaron el honor de ser su cuna.
    </p>
</body>
</html>