<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La lechera y el cántaro</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/stfabula.css">
</head>
<body>
    <h1>La lechera y su cántaro</h1>
    <h3>fábula esopo</h3>
    <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp">

        <h5>figura1  la lechera y el cántaro <br>
            <span>Tomado de: <a href="https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera"> https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera</a></span>
        </h5>
    
    <p>Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo. Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta: <br>

    —Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo. <br>

    Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.
</p>
<h2>Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad.</h2>
<h3> Otras fábulas de esopo</h3>
<ul >
    <li>La liebre y la tortuga</li>
    <li>la cigarra y la hormiga</li>
    <li>el léon y el ratón</li>
    <li>las moscas</li>
    <li>el asno y el léon</li>
</ul> <br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<table> <caption></caption>

    <tr>
        <th ><em>Autor</em></th>
        <th ><em>Fabula</em></th>
    </tr>
    <tr> 
        <td>rafael pombo</td>
        <td>renacuajo paseador <br> la pobre viejecita</td>

    </tr>
    <tr>
        <td>Jean la fontaien</td>
        <td>el molinero <br> el zorro y el cuervo</td>


    </tr>
    <tr>
        <td>tomas de iriarte</td>
        <td>el burro flautista <br> la mona</td>

    </tr>
  
    <tr>
        <td>rafael garcia goyena</td>
        <td>la araña y el mosquito <br> el guarda de loro</td>

    </tr>
  

</table>

</body>
</html>