<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <table border="8"> <caption><strong> <ul><strong><em>Horario Johana</em></strong></ul> </strong></caption>
        <tr>
            <th><em>Hora</em></th>
            <th><em>Lunes</em></th>
            <th><em>Martes</em></th>
            <th><em>Miercoles</em></th>
            <th><em>Jueves</em></th>
            <th><em>Viernes</em></th>
        </tr>
        <tr>
            <td>7:00 am</td>
            <td rowspan="2"><strong> Libre</strong></td>
            <td rowspan="2"><em>Álgebra L</em></td>
            <td rowspan="2"><strong> Libre</strong></td>
            <td rowspan="2"><em>Álgebra L</em></td>
            <td rowspan="2"><strong> Libre</strong></td>
            
        </tr>
        <tr>
            <td>8:00 am</td>
        </tr>
        <tr>
            <td>9:00 am</td>
            <td rowspan="2"> <em>Teoria C</em></td>
            <td rowspan="2"> <em>Cálculo</em> </td>
            <td rowspan="2"> <em> Teoria C</em></td>
            <td rowspan="2"> <em>Cálculo</em></td>
            <td rowspan="2"> <strong> Libre</strong></td>
        </tr>
        <tr>
            <td>10:00 am</td>
        </tr>
        <tr>
            <td>11:00 am</td>
            <td rowspan="2"> <strong> Libre</strong></td>
            <td rowspan="2"> <em>Respirando</em></td>
            <td rowspan="2"><em>Desarrollo W</em></td>
            <td rowspan="2"><em>Escritura E</em></td>
            <td rowspan="2"> <em> Desarrollo W</em></td>
        
        </tr>
           <tr>
            <td>12:00 am</td>
        </tr>
        <tr>
            <td>1:00 pm</td>
            <td rowspan="2"> <em> Catedra E</em></td>
            <td rowspan="2"> <em> Álgebra L</em></td>
            <td rowspan="2"> <strong> Libre</strong></td>
            <td rowspan="4"> <strong> Libre</strong></td>
            <td rowspan="2"> <em>Cálculo</em></td>   
        </tr>
        <tr>
            <td>2:00 pm</td>
        </tr>
        <tr>
            <td>3:00 pm</td>
            <td rowspan="2"> <em> Probabilidad</em></td>
            <td rowspan="2"> <strong> Libre</strong></td>
            <td rowspan="2"> <em> Probabilidad</em></td>
            <td rowspan="2"> <em> Probabilidad</em></td>
            
        </tr>
        <tr>
            <td>4:00 pm</td>
            
        </tr>
        <tr>
            <td>5:00 pm</td>
        </tr>

    </table>

    <ol> 

            <li></li>
            <a href="../incio.html" target="_blank">inicio</a><li></li>
            <a href="./TemaInteres.html" target="_blank">Tema de interes</a><br>
            
    </ol>  

</body>
</html>