<!DOCTYPE html>
<html5 lang="Es"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" name = "Johana Mejia" content="Juego de stop">
    <title>Quiz</title>
    <link rel="" href="../assets/img/quiz.png">
 
</head>

<body>
        <table border="3"> <caption><strong> <strong><em>Quiz</em></strong></strong></caption>

        
        <tr border="2">
            <th>L</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cosa</th>
            <th>Color</th>
            <th>Ciudad</th>
            <th><em><u>AtributoHtml</u> </em></th>
            <th><strong>Total</strong></th>
        </tr>
        <tr>
            <td>v</td>
            <td>Valeria</td>
            <td>Vaquero</td>
            <td><img src="../assets/img/vaca.jpg" width="20px"></td>
            <td bgcolor="green"></td>
            <td>Venecia</td>
            <td> <em><u>var </u></em></td>
            <td>1</td>
            
        </tr>
        <tr>
                  
            <td>D</td>
            <td>Daniel</td>
            <td>Duran</td>
            <td><img src="../assets/img/dado.png" width="20px"></td>
            <td bgcolor="golden"></td>
            <td>Dinamarca</td>
            <td> <em><u>Dd </u></em></td>
            <td>1</td>
        </tr>
        <tr>
                  
            <td>U</td>
            <td>Uriel</td>
            <td>Urtes</td>
            <td><img src="../assets/img/uña.jpg" width="20px"></td>
            <td bgcolor="golden"></td>
            <td>Uganda</td>
            <td> <em><u>ul </u></em></td>
            <td>1</td>
        </tr>
        <tr>
                  
            <td>X</td>
            <td>Xiomara</td>
            <td>Xiao</td>
            <td><img src="../assets/img/xilofono.jpg" width="20px"></td>
            <td bgcolor="Xanthic"></td>
            <td>xiolapa</td>
            <td> <em><u>X</u></em></td>
            <td></td>
        </tr>
        <tr>
                  
            <td>R</td>
            <td>Raul</td>
            <td>Rodriguez</td>
            <td><img src="../assets/img/ropa.jpg" width="20px"></td>
            <td bgcolor="red"></td>
            <td>rusia</td>
            <td> <em><u>ri:d</u></em></td>
            <td></td>
        </tr>
        <tr>
                  
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td ></td>
            <td></td>
            <td> </td>
            <td> <strong>3</strong></td>
        </tr>

        

    </table>
</body>
</html>