<!DOCTYPE html>
<html lang="es">
        <meta charset="UTF-8" name = "Johana Mejia" content="Intro html">
        <title>html clase 1</title>
        <link rel="" href="../assets/img/flor.svg">
        <!-- insertar imagen -->
    </head>
    <body> 
        <h1> <!-- Headers -->
            <i>La flor</i> 
        </h1>
        
        <h2>
            *<i> Una flor es </i> 
        </h2>

        <h3>
            1.<i> Un regalo de la naturaleza </i> 
        </h3>

        <img src = "../assets/img/flor2.jpg" height="400" alt=" ">  <img src = "../assets/img/flor.jpg" height="300 " alt=" "> 
        <!-- <img src = "../assets/img/flor2.jpg" height="400" alt=" ">  <img src = "../assets/img/flor.jpg" height="400" alt=" "> enlazar imagen -->
        <h4> Tipos de flor </h4>
        <ol type="a">
            <li>Las plantas monocotiledóneas</li>
            <li>Las plantas dicotiledóneas</li>
            
        </ol>
        <h4> Tulipanes</h4>
        <ul>
            <li> Tulipanes rojos: <strong> afecto, amor y pasión.</strong>  </li>
            <li> Tulipanes rosas:  <strong> amor fraternal, afecto, honestidad y pureza. </strong> </li>
            <li> Tulipanes blancos: <strong> pureza, paz, bondad y amor fraternal.</strong> </li>
            <li> Tulipanes amarillos: <strong> energía, iluminación, alegría y amistad fuerte y duradera.</strong></li>
            <li> Armonia, hola  <i> paz, </i> <strong>Serenidad.</strong> Son el reflejo de todo lo bonnito </li>
        </ul>
    <link rel="svg ico" href="../assets/icono.svg"
    < img src = "../" height="400px" width=" ">  <img src = "../assets/img/flor.jpg" height="400" alt=" "> > 
    <ol> 
        <li>
            <a href="https://www.facebook.com/?locale=es_LA" target="_blank">facebook</a></li>
            <a href="./inicio.html" target="_blank">inicio</a></li><li>
            <a href="../assets/img/flor2.jpg" target="_blank">imagen</a></li>
            </li>
            
    </ol>
    <table border="5"> <caption>cora</caption>
        <tr>
            <th><em>Item</em></th>
            <th><em>Nombre</em></th>
            <th><em>Precio</em></th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table border="5"> <caption>horario semanal</caption>
        <tr>
            <th><em>hora</em></th>
            <th><em>lunes</em></th>
            <th><em>martes</em></th>
        </tr>
        <tr>
            <td>7:00</td>
            <td colspan="2">desayuno</td>
             
        </tr>
        <tr>
            <td rowspan="2">8:00</td>
            <td>reunion</td>
            <td>clase</td>
        
        </tr>
        <tr>
            
            <td>ji</td>
            <td>ji</td>
        </tr>
    </table>
   
        
    
    </body>
</html>