<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/estilo.css">
</head>


<body"> 

    <form name="datosBasicos" action="../Ejericios_Desarrollo/incio.html" method=""></form>
    <h1><img src="../assets/img/icono.png" width="100px">DatosBasicos </h1>
    <label for="perfil"> Describa su perfil</label>
        <input id="perfil" type="text" name="perfil"><br>
    <label for="tipoI"> Tipo de identificacion </label>
        <select id="tipoI" type="text" name="tipoI">
            <option value="0" selected="">cedula (NUIP)</option>
            <option value="NUIP" selected="">nume unic id</option>
            <option value="tarjeta" selected="">cedula</option>
            <option value="cedula" selected="">cedula ex</option><br>
    <label for="numI"> numero de id</label>
        <input id="numI" type="text" name="numI"><br>
    <label for="apellido"> apellido</label>
        <input id="apellido" type="text" name="de"><br>
    <label for="nombre"> nombre</label>
        <input id="nombre" type="text" name="nombre"><br>
    <label for="genero"> genero</label><br>
        <input id="generoF" type="radio" name="genero" checked>Femenino
        <input id="generoM" type="radio" name="genero"checked>Masculino <br>

    <label for="estadoCivil"> estadoCivil</label>
        <input id="estadoCivil" type="radio" name="estadoCivil">soltero
        <input id="estadoCivil" type="radio" name="estadoCivil">casado
        <input id="estadoCivil" type="radio" name="estadoCivil">viudo
        <input id="estadoCivil" type="radio" name="estadoCivil">union libre <br>
    <label for="numeroContacto"> numeroContacto</label>
        <input id="numeroContacto" type="" name="numeroContacto"><br>
        
    <label for=""> Describa su perfil</label>
        <input id="perfil">
    <label for="perfil"> Describa su perfil</label>
        <input id="perfil">
    <label for="perfil"> Describa su perfil</label>
        <input id="perfil">
    <label for="perfil"> Describa su perfil</label>
        <input id="perfil"> 
    
</body>
</html>

