<!DOCTYPE html>
<html lang="es">
        <meta charset="UTF-8" name = "Johana Mejia" content="Intro html">
        <title>html clase 1</title>
        <link rel="" href="../assets/img/flor.svg">
        <!-- insertar imagen -->
    </head>
    <body> 
        <h1> <!-- Headers -->
            <i>Significado de las flores</i> 
        </h1>
        
        <h2>
                <i> <u>Una flor es</u> </i> 
        </h2>

        <h3>
            1.<i> Un regalo de la naturaleza </i> 
        </h3>
        
        <p> Simboliza tanto la vida y la muerte como la belleza y la violencia.
             Como la llegada de la primavera promete una nueva vida, la floración de los cerezos trae un sentido de vitalidad y dinamismo.<br>
             Al mismo tiempo, su corta vida útil es un recordatorio de que la vida es fugaz.<br>
      

        <img src = "../assets/img/flor5.jpg" height="200" alt=" ">  <img src = "../assets/img/flor4.jpg" height="200" alt=" "> 

        <h4> Tipos de flor </h4>
        <ol type="a">
            <li>Las plantas monocotiledóneas</li>
            <li>Las plantas dicotiledóneas</li>
            
        </ol>
        <h4> Flor de cerezo</h4>
        <ul>
            <li> 1. <strong> Somei Yoshino染井吉野</strong>  </li>
            <li> 2. <strong> Yamazakura山桜 </strong> </li>
            <li> 3.<strong> Shidarezakura枝垂桜</strong> </li>
            <li> 4. <strong> Edohigan江戸彼岸</strong></li>
            <li> 5. <strong> Kanzán</strong> </li>
        </ul>
        <ol>
                <li></li>
                <a href="../incio.html" target="_blank">inicio</a><li></li>
                <a href="./horario.html" target="_blank">Horario</a> <br>
                
        </ol>  
        
    
    </body>
</html>