h1{
    text-align: center;
}

h2{
    color: rgb(147, 63, 243);
    font-family: 'Times New Roman', Times, serif; 
}

ol{
    color: rgb(5, 2, 36);
    font-family: 'Times New Roman', Times, serif;
}