@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,500&display=swap');

body{
    margin: 0;
    width: auto;
    height: 0;
}

body{
    font-family: 'Muli', sans-serif;
}

.titulo{
    align-items: center;
}

.titulo h1{
    color: #fff;
    text-align: left;
    font-size: 40px;
    text-shadow: 2px 0px 10px #c50000;
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;
}

.titulo img{
    width: 150px;
}

.contenido {
    width: 1000px;
    margin: 30px auto;
}

.contenido h2{
    font-family: 'Fredoka One', cursive;
}

.contenido p{
    text-align: justify;
}

.personaje{
    width: 800px;
    background:linear-gradient(#F9A9FB,#F9D3FA);
    margin: 20px 0px;
    padding:  30px 30px;
    box-shadow: 3px 3px 7px #999999;
    font-family: 'Muli', sans-serif;
}

.personaje img{
    width: 150px;
    border: 7px solid #FFF;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

.personaje h2{
    color: #e6dddd;
    text-shadow: 2px 2px 7px #000000;
}

.personaje p{
    text-align: justify;
}

.boton{
    align-items: center;
    width:120px;
    background-color: blue;
    color: #FFFFFF;
    padding: 20px 20px;
    border-radius: 10px;
}

.boton a{
    margin:20px 0;
    text-decoration: none;
    color:#FFFFFF;
}

.boton:hover{
    background-color: red;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 3s;
}

.titulo img{
    transform: translate(500px);
    transition: transform 10s linear 1s;
    transition-duration: 3s;
}

.titulo h1{
    transform: translateY(-50px);
    transition: transform 5s linear 3s;
}

.personaje img:hover{
    transform: rotate(-50deg) scale(1.5);
    transition: transform 5s linear 3s;
}

.cajaprincipal{
    width: 270px;
    height: 350px;
    background-color: #000000;
    color:#FFFFFF;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 0px 20px #000000;
    overflow: hidden
}

.encabezado{
    background-color: #FFFFFF;
    color:#000000;
    font-family: 'Fredoka One', cursive;
    padding: 20px 0;
}

.cajaperfil{
    width: 540px;

}

.cajaperfil:hover{
    transform: translateX(-270px);
    transition: transform 2s linear 1s;
}

.fotos,.datos{
    width: 270px;
    text-align: center;
    margin: 20px 0;
    float:left;
}

.fotos img{
    width: 150px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}

.datos img{
    width: 170px;
    border: 5px solid #FFFFFF;
}