<!DOCTYPE html>
<html lang="es">
        <meta charset="UTF-8" name = "Johana Mejia" content="Intro html">
        <title>html clase 1</title>
        <link rel="" href="../assets/img/flor.svg">
        <!-- insertar imagen -->
    </head>
    <body> 
        <h1> <!-- Headers -->
            <i>flor</i> 
        </h1>
        
        <h2>
            i like <i>flor</i> 
        </h2>

        <h3>
            love  <i> flor</i> 
        </h3>
        
        <p> Hay algunas plantas y árboles a los que se les da poderes divinos y son adorados como dioses o como morada de los dioses <br> 
            : el roble, el abedul, el fresno… son cuidados, respetados y a veces llevados al poblado para ser adorados. <br>
            <u>con los primeros enterramientos aparece el culto a los muertos </u>.

        <p>
            Las primeras guirnaldas que se conocen en la historia eran egipcias y no solo estaban hechas de flores naturales, <br>
            si no que, para que fueran duraderas, se usaban también flores artificiales.<sub>i</sub> <br>
            En cuanto a los pintores de flores existen desde los inicios de la pintura.
        </p>

        <img src = "../img/flor2.jpg" height="600" alt=" "> 

        <h4> Market list </h4>
        <ol type="a">
            <li>Donna arequipe</li>
            <li>Donna mora</li>
            <li>Donna fresa</li>
            <li> Donna oreo</li>
        </ol>
        <h4> Dunking</h4>
        <ul>
            <li> Red </li>
            <li> Blue </li>
            <li> Yellow </li>
            <li> bueno <i> bonito </i> <strong>barato</strong> wtf </li>
        </ul>
    
    </body>
</html>